- require './helpers.rb'
!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/[if gt IE 8] ><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    / @include _head
    = render 'includes/_head'
  %body
    / ==================== Masthead ====================
    / @include _megadrop
    = render 'includes/_megadrop'
    / @include _masthead
    = render 'includes/_masthead'
    / Main Nav: Site Navigation
    = render 'includes/_globalnav'
    
    / ==================== Content ====================
    %header.row.page-menu
      .complimentary-toggle
        %a#sidebarButton.show-for-small{:href => "#sidebar"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      %ul.breadcrumbs
        %li
          %a{:href => "#"} Related Articles
    .row
      %article{:role => "main"}
        .gridContent
          .inner
            %img{:alt => "", :src => "http://placehold.it/1200x460"}/
            %h2 Outreach &amp; Help
            %h5 Ways to help &amp; enrich our community.
            %hr
              %div
                %img{:alt => "", :src => "http://placehold.it/300x200"}
                  %h5 Lord and Savior: In the Storm &amp; the Calm
                  %p.small In trying times, stillness.
              %div
                %img{:alt => "", :src => "http://placehold.it/300x200"}
                  %h5 With Jesus, all things are
                  %p.small He said, "Let the little children…"
              %div
                %img{:alt => "", :src => "http://placehold.it/300x200"}
                  %h5 Thoughts on Pride &amp; Prejudice
                  %p.small Be as humble as a child…
              %div
                %img{:alt => "", :src => "http://placehold.it/300x200"}
                  %h5 Helping Hands
                  %p.small Enriching your life and the lives of others.
              %div
                %img{:alt => "", :src => "http://placehold.it/300x200"}
                  %h5 Lord and Savior: In the Storm &amp; the Calm
                  %p.small In trying times, stillness.
              %div
                %img{:alt => "", :src => "http://placehold.it/300x200"}
                  %h5 With Jesus, all things are
                  %p.small He said, "Let the little children…"
              %div
                %img{:alt => "", :src => "http://placehold.it/300x200"}
                  %h5 Thoughts on Pride &amp; Prejudice
                  %p.small Be as humble as a child…
              %div
                %img{:alt => "", :src => "http://placehold.it/300x200"}
                  %h5 Helping Hands
                  %p.small Enriching your life and the lives of others.
              %div
                %img{:alt => "", :src => "http://placehold.it/300x200"}
                  %h5 Lord and Savior: In the Storm &amp; the Calm
                  %p.small In trying times, stillness.
              %div
                %img{:alt => "", :src => "http://placehold.it/300x200"}
                  %h5 With Jesus, all things are
                  %p.small He said, "Let the little children…"
              %div
                %img{:alt => "", :src => "http://placehold.it/300x200"}
                  %h5 Thoughts on Pride &amp; Prejudice
                  %p.small Be as humble as a child…
              %div
                %img{:alt => "", :src => "http://placehold.it/300x200"}
                  %h5 Helping Hands
                  %p.small Enriching your life and the lives of others.
      %section#sidebar.sidebar{:role => "complementary"}
        %ul
          %h5 Fall 2012 Bible Studies
          %li
            %a.active{:href => "#"} Fall 2012 Bible Studies
          %li
            %a{:href => "#"} CARES Team
          %li
            %a{:href => "#"} Vespers
          %li
            %a{:href => "#"} Communion
          %li
            %a{:href => "#"} Music
          %li
            %a{:href => "#"} Worship Resources
          %li
            %a{:href => "#"} Giving
          %li
            %a{:href => "#"} Family
          %li
            %a{:href => "#"} Baptism
      #wrapper_footer
    / ==================== Footer ====================
    %footer#footer
      .footerInner
        .row
          / @include _footer
          = render 'includes/_footer'
    / Le Javascripts
    / @include _javascript-load
    = render 'includes/_javascript-load'
